@model Easy.Hosts.Site.Models.User

@{
    ViewBag.Title = "Meu Perfil";
}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area blog_banner_two">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle f_48">Perfil do Hóspede</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Perfil</a></li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<section class="blog_area single-post-area bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <h2 class="h2">Dados do Hóspede</h2>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="image/blog/author.png" alt="">
                        <h4> @Html.DisplayFor(model => model.Name)</h4>
                        <p>@Html.DisplayFor(model => model.Email)</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="image/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>